<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="flex align-items-center">
    <div class="p-input-icon-left p-mr-2 search-field flex-grow-1">
      <i class="pi pi-search"></i>
      <input
        type="text"
        formControlName="search"
        pInputText
        style="width: 100%"
        class="p-inputtext-sm"
        placeholder="Search papers..."
      />
    </div>
    <p-button
      severity="primary"
      rounded="true"
      type="submit"
      class="ml-2"
      label="Search"
    ></p-button>
  </div>
</form>
