<div class="content-container">
  <div class="welcome-container">
    <h3>Welcome &#10024;</h3>
    <p>
      Welcome to your Dashboard! Use the search field below to find research papers by using simple keywords or boolean searches.
    </p>
    <p>
      You can also use the Advanced Search button to easily build boolean searches.
    </p>
  </div>

  <div class="search-container">
    <app-works-search
      (response)="onResponse($event)"
      (loading)="setWorksSearchLoading($event)"
      (error)="onError()"
    ></app-works-search>
  </div>

  <div class="search-results-and-data flex gap-4">
    <ng-container *ngIf="worksSearchResponse?.results?.length === 0">
      <p-messages [(value)]="noResultsMessage" [closable]="false" />
    </ng-container>
    <ng-container *ngIf="worksSearchError">
      <p-messages [(value)]="errorMessage" [closable]="false" />
    </ng-container>
    <div class="search-results-data-container" *ngIf="worksSearchResponse && (worksSearchResponse?.results ?? []).length > 0">
      <app-works-aggregate-data
        [worksSearchResults]="worksSearchResponse.results"
      ></app-works-aggregate-data>
    </div>

    <div class="search-results-container">
      <p-progressSpinner
        *ngIf="worksSearchLoading"
        strokeWidth="6"
        [style]="{
          position: 'absolute',
          top: '50%',
          left: '50%',
          transform: 'translate(-50%, -50%)'
        }"
      ></p-progressSpinner>
      <div *ngIf="worksSearchResponse" class="overflow-y-scroll h-screen p-2">
        <app-works-card
          *ngFor="let work of worksSearchResponse.results"
          [work]="work"
        ></app-works-card>
      </div>
    </div>
  </div>
</div>
