.advanced-search-container {
  margin: 1rem 0;
  min-width: 30%;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.search-results-container {
  margin: 0.5rem 0;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}
